.order {
  font-weight: bold;
}

.order-number,
.right-icon {
  color: gray;
}

.order-page {
  background-color: #f9f9f9;
  padding-bottom: 23%;
  min-height: 100vh;
}

.order-details {
  box-shadow: 0px 1px 24px 0px #0000001f;
  border-radius: 10px;
  background-color: white;
}

.order-btn {
  background-color: #f9f9f9;
  font-weight: 500;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.order-btn:focus {
  background-color: black;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

.details-btn {
  padding: 5px 20px;
  border: 1px solid black;
  background-color: white;
  border-radius: 20px;
}

.product {
  box-shadow: 0px 1px 25px 0px #00000014;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.order-status .order-product {
  box-shadow: 0px 1px 25px 0px #00000014;
  border-radius: 10px;
}

.cartproduct-image {
  border-radius: 10px 0px 0px 10px;
}

.color {
  color: gray;
}

.profile-page {
  padding-bottom: 15%;
}

.order-details-page {
  padding-bottom: 18%;
}

.order-details-page .top-part {
  background-color: white;
  box-shadow: 0px 4px 24px 0px #00000014;
}

.order-details-page .order-status {
  margin-top: 15%;
}

.shipping-address .adress-part .product {
  box-shadow: 0px 1px 25px 0px #00000014;
  background-color: white;
  margin-top: 25px;
  padding: 15px 20px;
}

.shipping-address .shipping {
  padding: 4% 0 2%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 4px 24px 0px #00000014;
  background-color: white;
}

.shipping-address .adress-part {
  margin-top: 20%;
}
