.forgotpassword-page .send-btn {
  background-color: #ff7f00;
  color: #ffffff;
  box-shadow: 0px 4px 8px 0px #d3262640;
}

.forgotpassword-page .form-part {
  padding-top: 15%;
}

.input-field {
  margin-top: 4%;
  padding: 3%;
  border: 1px solid rgb(221, 219, 219);
}
