.footer-part {
  background-color: #ffff;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  box-shadow: 0px -4px 20px 0px #0000000f;
}

.icons:hover {
  color: #ff7f00;
}

.text {
  font-size: 10px;
}
